.h1-tag{
    color:red;
    text-align: center;
}
.nav-bar{
    border-color: black;
    border-width: 2px;
    border-style: solid;
    background-color: lightgrey;
    padding:15px;
    text-align: center;
}
.nav-bar a{
    padding:15px;
    text-decoration: none;
    color:black;
}
.nav-bar a:hover{
    background-color:orange;
    text-decoration: underline;
}
body{
    margin:0px;
}
.card{
    border:2px solid black;
    width: 350px;
    text-align:center;
    margin-left:auto;
    margin-right: auto;
    margin-top:70px;
    overflow:hidden;
    border-radius: 30px;
    padding-bottom:20px;
}
.card img{
    width: 100%;
}
.card button{
    width:70%;
    padding:8px;
    border-radius:30px;
}
.card button:hover{
    cursor:pointer;
    background-color: rgb(84, 84, 203);
}